.content {
  display: flex;
  padding-left: 180px;
}

.left {
  width: 180px;
  height: 100vh;
  background: linear-gradient(180deg, rgba(19, 26, 36, 0.2) 0%, rgba(0, 0, 0, 0.9) 100%);
  overflow: hidden;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
}

.right {
  flex: 1;
  padding: 0 2rem;
  /* height: 100vh; */
  /* overflow: auto; */
}

@media screen and (max-width: 1100px) {
  .left {
    display: none;
  }

}

/* @media screen and (max-width: 760px) {
  .right {
    padding: 0 2rem;
  }
} */