.title {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 20px;
}

.title img {
    height: 40px;
    margin-right: 10px;
}

.tlpname p {
    font-size: 16px;
    color: #fff;
    font-family: "Montserrat Light";
    line-height: 1;
    padding-bottom: 3px;
}

.tlpname p:last-child {
    font-size: 14px;
    padding-top: 3px;
    opacity: .5;
}