/* layout */
.main {
  display: flex;
  flex: 40rem 1;
}

.main-left {
  width: 40rem;
  box-sizing: border-box;
}

.main-left-container {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
  position: relative;
}

.main-right {
  flex: 1;
  box-sizing: border-box;
  margin-left: 16px;
}

.main-right-container {
  display: flex;
  align-items: center;
  min-height: 68px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}


/* menus tabs */
.menus-tabs {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
}

.menus-tabs a {
  padding: 0 1.6rem;
  color: #fff;
  font-family: "Montserrat Regular";
  font-size: 2.4rem;
  text-align: center;
  margin-right: 8px;
  opacity: 0.3;
  text-decoration: none;
}

.menus-tabs a:hover,
.menus-tabs a.active {
  opacity: 1;
}

/* tabs */
.tabs {
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.tabs div {
  flex: 1;
  line-height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.tabs div img {
  height: 24px;
  margin-left: 4px;
}

.tabs div span {
  margin-right: 4px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat Light";
}

.tabs div:hover {
  background-color: rgb(99, 204, 169, .2);
  opacity: .8;
}

.tabs div.red:hover {
  background-color: rgb(240, 68, 56, .2);
  opacity: .8;
}

.tabs div.active {
  background-color: #63CCA9;
  opacity: 1;
}

.tabs div.red.active {
  background-color: #F04438;
}


/* type select*/

.type {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.type div {
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
  opacity: .5;
  cursor: pointer;
}

.type div.active,
.type div:hover {
  opacity: 1;
}


/* line css */
.container {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 16px;
}

.mobile-container {
  display: none;
}

.container-title {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 4.8rem;
  line-height: 4.8rem;
  color: #fff;
  padding-left: 20px;
}

.line-con {
  padding: 24px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.line-con1 {
  padding: 10px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.line-hr {
  height: 1px;
  background: rgba(255, 255, 255, 0.05);
  margin: 2.4rem 0;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line-top-16{
  margin-top: 1.6rem;
}

.linetop {
  align-items: flex-start;
}

.ll {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  opacity: .5;
  font-family: "Montserrat Light";
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.lr {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat Light";
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.lr-right {
  text-align: right;
}

/* section */
.section-operate {
  visibility: hidden
}

.section-con {
  position: relative;
  margin-bottom: 20px;
}

.section {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 16px;
  position: relative;
  z-index: 1;
}

.section-martop {
  margin-top: 10px;
}

.section-marbottom {
  margin-bottom: 10px;
}

.sectiontop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  font-family: "Montserrat Light";
}

.sectiontop span {
  font-size: 14px;
  color: #fff;
  opacity: .5;
  font-family: "Montserrat Light";
}

.sectiontop span.section-balance {
  opacity: 1;
}

.section-max {
  cursor: pointer;
}

.section-max:hover {
  opacity: 1;
}

.section-percent {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 10px;
}

.section-percent span {
  margin-right: 16px;
  font-family: "Montserrat Light";
  color: #fff;
  opacity: .5;
  font-size: 14px;
  cursor: pointer;
}

.section-percent .active {
  opacity: 1;
}

.sectionbottom {
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.sectioninputcon {
  flex: 1;
  margin-right: 1rem;
}

.sectioninput {
  width: 100%;
  box-sizing: border-box;
  height: 24px;
  border: 0 none;
  background-color: transparent;
  font-size: 24px;
  line-height: 1;
  font-family: "Montserrat Light";
  color: #fff;
  padding: 0;
  margin: 0;
  outline: none;
}

.sectiontokens {
  font-size: 2.4rem;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sectiontokens:hover .sectiontokensicon {
  opacity: 1;
}

.sectiontokens img {
  height: 24px;
}

.sectiontokens span {
  padding: 0 10px;
}

.sectiontokensicon {
  height: 24px;
  opacity: .5;
}

/* swapvert */
.swapvert {
  height: 10px;
  position: relative;
  z-index: 3;
  /* border: 8px solid rgba(18, 21, 23, 1); */
}

.swapvertcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #63CCA9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 8px solid rgba(18, 21, 23, 1);
}

.swapvertcon:hover {
  background: rgb(19, 162, 122, 1);
}

.swapvertcon:active {
  background: rgb(47, 96, 83, 1);
}

.swapvertcon img {
  height: 24px;
}

.swapvertcon-red {
  background: #F04438;
}

.swapvertcon-red:hover {
  background: rgb(202, 29, 29, 1);
}

.swapvertcon-red:active {
  background: rgb(108, 32, 34, 1);
}

/* overlay-dropdown */
.overlay-dropdown {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.overlay-dropdown-ul {
  background-color: transparent !important;
  box-shadow: none !important;
  margin: 0 !important;
  border: 0 none !important;
  border-radius: 0 !important;
}

.overlay-dropdown-li {
  height: 40px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  opacity: .6;
  cursor: pointer;
}

.overlay-dropdown-li:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.1);
}

.overlay-dropdown-li span {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: "Montserrat Light";
  color: #FFFFFF;
}

.overlay-dropdown-li span.red {
  color: #F04438;
}

.menus-dropdown {
  background: rgba(40, 51, 62, 0.98);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.menus-dropdown-li span {
  font-size: 16px;
  font-family: "Montserrat Regular";
}

/* chart */
.chart {
  background: rgba(0, 0, 0, 0.2);
  height: 45rem;
  margin-top: 2rem;
  position: relative;
}

.chart-con {
  position: absolute;
  left: 16px;
  top: 16px;
  z-index: 3;
  display: flex;
  align-items: center
}

.chart-tabs {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 16px;
}

.chart-tabs span {
  height: 32px;
  width: 48px;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
  text-align: center;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat Light";
  cursor: pointer;
}

.chart-tabs span:hover {
  background: rgba(99, 204, 169, .3);
}

.chart-tabs span.active {
  background: rgba(99, 204, 169, 1);
}

.chart-value {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Montserrat Light";
  color: #FFFFFF;
  margin-bottom: 16px;
}

.chart-value div {
  margin-right: 20px;
}

.chart-value span {
  color: rgba(250, 61, 88, 1);
  margin-left: 2px;
}

.chart-result {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  max-width: 100%;
  overflow: hidden;
}

/* check order*/
.check-con {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px;
}

.check-list {
  display: flex;
  align-items: center;
}

.check-info {
  padding-left: 16px;
}

.check-info p {
  font-size: 14px;
  font-family: "Montserrat Light";
  opacity: .5;
  color: #FFFFFF;
  line-height: 1;
  margin-bottom: 3px;
}

.check-info p:last-child {
  font-size: 16px;
  opacity: 1;
  margin-bottom: 0;
  margin-top: 3px;
}

.check-to {
  display: flex;
  align-items: center;
}

/* toast*/
.toast-close {
  width: 24px;
  cursor: pointer;
  opacity: .7;
  line-height: 0;
}

.toast-close:hover {
  opacity: 1;
}

.view {
  color: #fff;
  opacity: .7;
  text-decoration: underline;
  margin-left: .5rem;
}

.view:hover {
  opacity: 1;
}

.toast-success {
  top: 66px !important;
}

.toast-success .MuiSnackbarContent-root {
  max-width: 360px;
  background: #3CA180;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat Regular";
  color: #FFFFFF;
  line-height: 24px;
  display: flex;
  flex-wrap: initial;
  align-items: flex-start;
}

.toast-success .MuiSnackbarContent-message {
  padding: 0;
}

.toast-success .MuiSnackbarContent-action {
  margin-right: 0
}

.toast-error {
  top: 66px !important;
}

.toast-error .MuiSnackbarContent-root {
  max-width: 360px;
  background: #F04438;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat Regular";
  color: #FFFFFF;
  line-height: 24px;
  display: flex;
  flex-wrap: initial;
  align-items: flex-start;
}

.toast-error .MuiSnackbarContent-message {
  padding: 0;
  word-break: break-all;
}

.toast-error .MuiSnackbarContent-action {
  margin-right: 0
}