.menus {
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
}

.menus a {
    padding: 0 1.6rem;
    color: #fff;
    font-family: "Montserrat Regular";
    font-size: 2.4rem;
    text-align: center;
    margin-right: 8px;
    opacity: 0.3;
    text-decoration: none;
}

.menus a:hover,
.menus a.active {
    opacity: 1;
}