.left {
    width: 180px;
    height: 100vh;
    background: linear-gradient(180deg, rgba(19, 26, 36, 0.2) 0%, rgba(0, 0, 0, 0.9) 100%);
    overflow: hidden;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
}


.leftcon {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.logo {
    padding: 2.4rem;
}

.logo img {
    height: 3.2rem;
}


.nav a {
    display: block;
    height: 4.8rem;
    padding-left: 2.4rem;
    box-sizing: border-box;
    font-family: "Montserrat Regular";
    font-size: 1.6rem;
    opacity: 0.5;
    color: #fff;
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav img {
    width: 2.4rem;
}

.nav span {
    padding-left: 1.6rem;
}

.nav a:hover,
.nav a.active {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.1) 100%);
    opacity: 1;
}


.link a {
    padding: 1rem 2.4rem;
    font-family: "Montserrat Light";
    font-size: 1.4rem;
    color: #fff;
    opacity: 0.5;
    height: 4rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link img {
    width: 2.4rem;
}

.link span {
    padding-left: 1.6rem;
}

.link a:hover {
    opacity: 1;
}

.copyright {
    font-family: "Montserrat Light";
    font-size: 1.4rem;
    color: #fff;
    opacity: 0.5;
    padding: 1rem 2.4rem;
    line-height: 1;
}

.mobilemenus {
    padding-left: 2.4rem;
    margin-bottom: 2.4rem;
    margin-top: 1.4rem;
    cursor: pointer;
}

.mobilemenus img {
    opacity: 0.5;
    width: 2.4rem;
}

.mobilemenus:hover img {
    opacity: 1;
}

.lefthide {
    width: 72px;
}

.lefthide span {
    display: none;
}

.lefthide .copyright {
    display: none;
}

.lefthide .logo {
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .left {
        display: none;
    }

    .mobilemenus {
        display: none;
    }
}