.perpetual {
  display: flex;
}

.left {
  width: 40rem;
  box-sizing: border-box;
}


.leftcontainer {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
  position: relative;
  /* visibility: hidden; */
}

.operate {
  visibility: hidden
}

.container {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 16px;
}

.content {
  padding: 10px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.title {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 4.8rem;
  line-height: 4.8rem;
  color: #fff;
  padding-left: 20px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lleft {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  opacity: .5;
  font-family: "Montserrat Light";
}

.lright {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat Light";

}


.right {
  flex: 1;
  box-sizing: border-box;
  margin-left: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 16px;
  background-color: #63CCA9;
  color: #fff;
  font-family: "Montserrat Regular";
  margin-top: 2.4rem;
  box-sizing: border-box;
  cursor: pointer;
}

.btn:hover {
  background-color: #47AF8D;
}

.btn:active {
  background-color: rgb(47, 96, 83, 1);
}

.tabs {
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.tabs div {
  flex: 1;
  line-height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.tabs div img {
  height: 24px;
  margin-left: 4px;
}

.tabs div span {
  margin-right: 4px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat Light";
}

.tabs div:hover {
  background-color: rgb(99, 204, 169, .2);
  opacity: .8;
}

.tabs div.active {
  background-color: #63CCA9;
  opacity: 1;
}

.type {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.type div {
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
  opacity: .5;
  cursor: pointer;
}

.type div.active,
.type div:hover {
  opacity: 1;
}

.section-con {
  position: relative;
  margin-bottom: 20px;
}

.section {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 16px;
  position: relative;
  z-index: 1;
}

.sectiontop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  font-family: "Montserrat Light";
}

.sectiontop span {
  font-size: 14px;
  color: #fff;
  opacity: .5;
  font-family: "Montserrat Light";
}

.sectiontop span.balance {
  opacity: 1;
}

.section-percent {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 10px;
}

.section-percent span {
  margin-right: 16px;
  font-family: "Montserrat Light";
  color: #fff;
  opacity: .5;
  font-size: 14px;
  cursor: pointer;
}


.sectionbottom {
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.sectioninputcon {
  flex: 1;
  margin-right: 1rem;
}

.sectioninput {
  width: 100%;
  box-sizing: border-box;
  height: 24px;
  border: 0 none;
  background-color: transparent;
  font-size: 24px;
  line-height: 1;
  font-family: "Montserrat Light";
  color: #fff;
  padding: 0;
  margin: 0;
  outline: none;
}

.sectiontokens {
  font-size: 2.4rem;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sectiontokens:hover .sectiontokensicon {
  opacity: 1;
}

.sectiontokens img {
  height: 24px;
}

.sectiontokens span {
  padding: 0 10px;
}

.sectiontokensicon {
  height: 24px;
  opacity: .5;
}

.swapvert {
  height: 10px;
  position: relative;
  z-index: 3;
  /* border: 8px solid rgba(18, 21, 23, 1); */
}

.swapvertcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #63CCA9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 8px solid rgba(18, 21, 23, 1);
}

.swapvertcon:hover {
  background: rgb(47, 96, 83, 1);
}

.swapvertcon img {
  height: 24px;
}

.rightcontainer {
  display: flex;
  align-items: center;
  height: 68px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.tokenselect {
  display: flex;
  align-items: center;
  margin-right: 6rem;
}

.tokenselect span {
  font-size: 24px;
  color: #fff;
  line-height: 1;
  font-family: "Montserrat Regular";
  color: #fff;
  padding: 0 1rem 0 2rem;
}

.pricelist {
  margin-right: 2rem;
  min-width: 12rem;
}

.value1 {
  padding: 3px 0;
  font-size: 16px;
  color: #fff;
  line-height: 1;
  font-family: "Montserrat Regular";
}

.value2 {
  padding: 3px 0;
  font-size: 14px;
  color: #fff;
  opacity: .5;
  line-height: 1;
  font-family: "Montserrat Light";
}

.sectionchart {
  background: rgba(0, 0, 0, 0.2);
  height: 45rem;
  margin-top: 2rem;
}

.ordertab {
  display: flex;
  align-items: center;
  padding: 2.4rem 0;
}

.ordertab span {
  margin-right: 4rem;
  font-size: 16px;
  color: #fff;
  opacity: .5;
  line-height: 1;
  font-family: "Montserrat Light";
  cursor: pointer;
}

.ordertab span:hover,
.ordertab span.active {
  font-family: "Montserrat Regular";
  opacity: 1;
}


.table {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
}

.table th {
  height: 4.8rem;
  font-size: 1.6rem;
  color: #fff;
  opacity: .5;
  font-family: "Montserrat Light";
  font-weight: normal;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0 1.6rem;
  line-height: 24px;
}

.table td {
  padding: 1.6rem;
  font-size: 1.4rem;
  color: #fff;
  font-family: "Montserrat Light";
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  line-height: 24px;
}

.table tr:last-child td {
  border-bottom: 0 none;
}


.table-position {
  display: flex;
  align-items: center;
}

.table-position img {
  margin-right: 1rem;
}

.table-position img.icon {
  opacity: .5;
  margin-left: .6rem;
  margin-right: 0;
  cursor: pointer;
}

.table-position img:hover {
  opacity: 1;
}

.table-btn {
  width: 80px;
  height: 32px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  line-height: 32px;
  font-size: 14px;
  font-family: "Montserrat Regular";
  color: #FFFFFF;
  text-align: center;
  margin: 0 .8rem;
  border: 0 none;
  cursor: pointer;
}

.table-btn:hover {
  background: rgba(51, 55, 62, 1);
}

.table-btn:active {
  background: rgba(24, 28, 35, 1);
}

.table-btn-green {
  width: 80px;
  height: 32px;
  background: #63CCA9;
  border-radius: 5px;
  line-height: 32px;
  font-size: 14px;
  font-family: "Montserrat Regular";
  color: #FFFFFF;
  text-align: center;
  margin: 0 .8rem;
  border: 0 none;
  cursor: pointer;
}

.table-btn-green:hover {
  background: #47AF8D;
}

.table-btn-green:active {
  background: rgb(71, 175, 141, .5);
}

.table-btn-red {
  width: 80px;
  height: 32px;
  background: #F04438;
  border-radius: 5px;
  line-height: 32px;
  font-size: 14px;
  font-family: "Montserrat Regular";
  color: #FFFFFF;
  text-align: center;
  margin: 0 .8rem;
  border: 0 none;
  cursor: pointer;
  padding: 0;
}

.table-btn-red:hover {
  background: #D63226;
}

.table-btn-red:active {
  background: rgb(214, 50, 38, .5);
}

.red {
  color: #F04438;
}

.green {
  color: #63CCA9;
}


.token-con {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.token-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-top: 20px;
  padding: 0 24px;
}

.token-top-title {
  font-size: 2.4rem;
  color: #FFFFFF;
  line-height: 1;
  font-family: "Montserrat Regular";
}

.token-top-close {
  opacity: .5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.token-top-close:hover {
  opacity: 1;
}

.token-search {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 48px;
  padding: 0 16px;
  margin: 0 24px 10px;
}

.token-input {
  flex: 1;
  border: 0 none;
  background-color: transparent;
  font-size: 16px;
  font-family: "Montserrat Regular";
  color: #FFFFFF;
  line-height: 36px;
  outline: none;
}

.token-list {
  height: calc(100% - 58px - 68px);
  overflow: auto;
}

.token-list li {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  cursor: pointer;
}

.token-list li:hover {
  background: rgba(0, 0, 0, 0.2);
}

.token-name {
  flex: 1;
  padding: 0 16px;
}

.token-value1 {
  font-size: 16px;
  font-family: "Montserrat Regular";
  color: #FFFFFF;
  line-height: 22px;
}

.token-value2 {
  font-size: 14px;
  font-family: "Montserrat Light";
  color: #FFFFFF;
  opacity: .5;
  line-height: 20px;
}

@media screen and (max-width: 760px) {
  .perpetual {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    margin: 0;
  }
}