.silder{
  padding: 0 0 3.6rem;
}

.tokenselect {
  display: flex;
  align-items: center;
  margin-right: 6rem;
  cursor: pointer;
}

.tokenselect span {
  font-size: 24px;
  color: #fff;
  line-height: 1;
  font-family: "Montserrat Regular";
  color: #fff;
  padding: 0 1rem 0 2rem;
}

.pricelist {
  margin-right: 2rem;
  min-width: 12rem;
}

.value1 {
  padding: 3px 0;
  font-size: 16px;
  color: #fff;
  line-height: 1;
  font-family: "Montserrat Regular";
}

.value2 {
  padding: 3px 0;
  font-size: 14px;
  color: #fff;
  opacity: .5;
  line-height: 1;
  font-family: "Montserrat Light";
}

.ordertab {
  display: flex;
  align-items: center;
  padding: 2.4rem 0;
}

.ordertab span {
  margin-right: 4rem;
  font-size: 16px;
  color: #fff;
  opacity: .5;
  line-height: 1;
  font-family: "Montserrat Light";
  cursor: pointer;
}

.ordertab span:hover,
.ordertab span.active {
  font-family: "Montserrat Regular";
  opacity: 1;
}


.table {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
}

.table th {
  height: 4.8rem;
  font-size: 1.6rem;
  color: #fff;
  opacity: .5;
  font-family: "Montserrat Light";
  font-weight: normal;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0 1.6rem;
  line-height: 24px;
}

.table td {
  padding: 1.6rem;
  font-size: 1.4rem;
  color: #fff;
  font-family: "Montserrat Light";
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  line-height: 24px;
}

.table tr:last-child td {
  border-bottom: 0 none;
}


.table-position {
  display: flex;
  align-items: center;
}

.table-position img {
  margin-right: 1rem;
}

.table-position img.icon {
  opacity: .5;
  margin-left: .6rem;
  margin-right: 0;
  cursor: pointer;
}

.table-position img:hover {
  opacity: 1;
}

.table-btn {
  width: 80px;
  height: 32px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  line-height: 32px;
  font-size: 14px;
  font-family: "Montserrat Regular";
  color: #FFFFFF;
  text-align: center;
  margin: 0 .8rem;
  border: 0 none;
  cursor: pointer;
}

.table-btn:hover {
  background: rgba(51, 55, 62, 1);
}

.table-btn:active {
  background: rgba(24, 28, 35, 1);
}

.table-btn-green {
  width: 80px;
  height: 32px;
  background: #63CCA9;
  border-radius: 5px;
  line-height: 32px;
  font-size: 14px;
  font-family: "Montserrat Regular";
  color: #FFFFFF;
  text-align: center;
  margin: 0 .8rem;
  border: 0 none;
  cursor: pointer;
}

.table-btn-green:hover {
  background: #47AF8D;
}

.table-btn-green:active {
  background: rgb(71, 175, 141, .5);
}

.table-btn-red {
  width: 80px;
  height: 32px;
  background: #F04438;
  border-radius: 5px;
  line-height: 32px;
  font-size: 14px;
  font-family: "Montserrat Regular";
  color: #FFFFFF;
  text-align: center;
  margin: 0 .8rem;
  border: 0 none;
  cursor: pointer;
  padding: 0;
}

.table-btn-red:hover {
  background: #D63226;
}

.table-btn-red:active {
  background: rgb(214, 50, 38, .5);
}

.red {
  color: #F04438;
}

.green {
  color: #63CCA9;
}
