.wallet {
    /* min-width: 164px; */
    height: 40px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 10px;
}

.wallet:hover {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.wallet:hover img {
    opacity: 1;
}

.wallet img {
    width: 24px;
    margin-left: 10px;
    opacity: 0.5;
}

.wallet span {
    flex: 1;
    color: #fff;
    font-family: "Montserrat Regular";
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}

.walletlist {
    margin-top: 16px;
    height: 6.4rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
}

.walletlist:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(99, 204, 169, 0.3);
}

.walletlist span {
    font-size: 16px;
    font-family: "Montserrat Regular";
    color: #FFFFFF;
}

.walletlist img {
    height: 24px;
}

.overlay-drapdown {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.overlay-drapdown-ul {
    background-color: transparent !important;
    box-shadow: none !important;
    margin: 0 !important;
    border: 0 none !important;
    border-radius: 0 !important;
}

.overlay-drapdown-li {
    height: 40px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    opacity: .6;
    cursor: pointer;
}

.overlay-drapdown-li:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.1);
}

.overlay-drapdown-li span {
    padding-left: 10px;
    font-size: 14px;
    font-family: "Montserrat Light";
    color: #FFFFFF;
}

.overlay-drapdown-li span.red {
    color: #F04438;
}