html {
  font-size: 62.5%;
}

body {
  background-repeat: no-repeat;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/3d190d01ad934e98b240b533bce32554_mergeImage.png);
  background-color: rgba(19, 26, 36, 1);
  /* background-size: 100% 100%; */
  background-attachment: fixed;
}

img {
  max-width: 100%;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 760px) {
  html {
    font-size: 50%;
  }
}