html {
  font-size: 62.5%;
}

body {
  background-repeat: no-repeat;
  background-image: url(./assets/images/bg.png);
  background-color: rgba(19, 26, 36, 1);
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.underline {
  text-decoration: underline;
}

.tooltip {
  font-size: 1.4rem;
  font-family: "Montserrat Light";
  color: #FFFFFF;
  line-height: 2.4rem;
}

.pointer {
  cursor: pointer;
}

.red {
  color: #F04438 !important;
}

.green {
  color: #63CCA9 !important;
}

.rc-slider-mark-text {
  color: #666 !important;
}

.rc-slider-mark-text-active {
  color: #fff !important;
}

@media screen and (max-width: 760px) {
  html {
    font-size: 50%;
  }
}