@font-face {
  font-family: "Montserrat Light";
  src: url("../src/assets/fonts/Montserrat-Light-6.otf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../src/assets/fonts/Montserrat-Regular-8.otf");
}


body {
  margin: 0;
  font-family: 'Montserrat Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat Light', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}